# Fill this in with database connection info and rename as ".env" in the same folder
POSTGRES_SERVICE_HOST=localhost
POSTGRES_SERVICE_PORT=5432
POSTGRES_USER=your_username
POSTGRES_PASSWORD=your_password
POSTGRES_DB=development_database_name
POSTGRES_TEST_DB=test_database_name

# Not used yet
OCTOPART_API_KEY=api_key
